[Unit]
Description=gpio-web-console
After=network.target

[Service]
ExecStart=/opt/gpio-web-console/.nvm/versions/node/v{{node_version}}/bin/node index.js config.json
WorkingDirectory=/opt/gpio-web-console
StandardOutput=inherit
StandardError=inherit
Restart=always
User=gpio-web-console

[Install]
WantedBy=multi-user.target