[Unit]
Description=gpio-web-console
After=network.target

[Service]
ExecStart=(value replaced by ansible)
WorkingDirectory=/opt/gpio-web-console
StandardOutput=inherit
StandardError=inherit
Restart=always
User=gpio-web-console

[Install]
WantedBy=multi-user.target