[Unit]
Description=gpio-web-console
After=network.target

[Service]
ExecStart=/opt/gpio-web-console/.nvm/versions/node/v16.14.2/bin/npm start -- config.json
WorkingDirectory=/opt/gpio-web-console
StandardOutput=inherit
StandardError=inherit
Restart=always
User=gpio-web-console

[Install]
WantedBy=multi-user.target