
.App-logo {
  height: 15vmin;
  margin-left: 12px;
  margin-right: 22px;
  vertical-align:middle;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  padding-top:12px;
  padding-bottom:12px;
}



