@import '~antd/dist/antd.css';


.App {
  background-color: #282c34;
  color: white;
  height: 100vh;
}

.App-logo {
  height: 15vmin;
  margin-left: 12px;
  margin-right: 22px;
  vertical-align:middle;
}

.App-header {
  height: 25vh;
  padding-top:12px;
  padding-bottom:12px;

}

.App-header > h1 {
  color: white;
}

.GPIOList {
  display: flexbox;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 20px;
  padding-right: 20px;
  max-width:600px;
  margin: auto;
}
